.tw-container {
    &-1470-px {
        max-width: 1470px;
    }
    &-1630-px {
        max-width: 1630px;
    }
    &-1680-px {
        max-width: 1680px;
    }
    &-1800-px {
        max-width: 1800px;
    }
}