/* Height Css Class Start */
@each $property, $value in $spaces {
  .tw-h-#{$property} {
    height: $value;
  }
}

.tw-h {
  &-px {
    height: 1px;
  }
  &-screen {
    height: 100vh;
  }
  &-80-px {
    height: 80px;
  }
  &-75-px {
    height: 75px;
  }
  &-84-px {
    height: 84px;
  }
  &-92-px {
    height: 92px;
  }
  &-160-px {
    height: 160px;
  }
  &-196-px {
    height: 196px;
  }
  &-320-px {
    height: 320px;
  }
  &-392-px {
    height: 392px;
  }
  &-464-px {
    height: 464px;
  }
  &-760-px {
    height: 760px;
  }
  &-950-px {
    height: 950px;
  }
}

.tw-min-h {
  &-184-px {
    min-height: 184px;
  }
  &-210-px {
    min-height: 210px !important;
  }
}
/* Height Css Class End */
