/* Marquee css start */
.marquee {
    display: flex;
    flex-direction: column;
    &_left {
        padding-block: 16px;
    }
}
.js-marquee {
    display: flex;
    gap: 64px;
    min-width: max-content;
    &-wrapper {
        display: flex;
        gap: 64px;
    }
}

.marquee-two {
    &-title {
        font-size: 165px;
        line-height: 95%;
    }
}


.marquee-three {
    &-title {
        &.text-stroke {
            -webkit-text-stroke-width: 1px;
            color: #000000;
            -webkit-text-stroke-color: hsl(var(--white));
        }
    }
}

/* Marquee css end */